/* Import your application global css files here or add the styles directly to this file */

@import url('../../styles/main-layout.css');
@import url('../../styles/main.css');
@import url('../../styles/header.css');
@import url('../../styles/footer.css');
@import url('../../styles/views/register-view.css');
@import url('../../styles/signup-thank-you.css');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700)');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


html{
    --lumo-font-family: "Open Sans", sans-serif;
    --lumo-primary-text-color: rgb(90, 69, 108);
    --lumo-primary-color-50pct: rgba(90, 69, 108, 0.5);
    --lumo-primary-color-10pct: rgba(90, 69, 108, 0.1);
    --lumo-primary-color: #5A456C;
}
body {
    font-family: 'Open Sans', sans-serif;
}

[theme~="dark"] {

}